{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'django_sample/index.css' %}">
    <title>Let's go DIG</title>
</head>
<body>
<div class="App">
  <header class="App-header">
    <div class="App-logo-container">
      <img alt="logo" class="App-logo" src="{% static 'django_sample/logo.png' %}">
    </div>
    <h3>
      Congratulations! You have deployed a service on Digger
    </h3>
    <h4 class="App-link">
      This is the default output of our sample django app. Let's go dig!
    </h4>
  </header>
</div>
</body>
</html>
